@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background: #F7F7F5;
    font-family: "Roboto";
    height: 100vh;
}

nav {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d4d4;
    background-color: #F7F7F5;
    z-index: 10;
}

#logo {
    margin-left: 30px;
    height: 9vh;
}

.search-container {
    position: relative;
    width: 600px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 8px #a8a8a8;
    border: 2px solid white;
    background-color: white;
    overflow: hidden;
}

.search-input {
    flex: 1;
    padding: 12px 50px 12px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    width: 100px;
    border: none;
    color: black;
    background: transparent;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.search-container:hover {
    border: none;
    box-shadow: none;
    border: 2px solid #b2f8d1;
    box-shadow: 0 0 3px #bee7d0;

    .search-button {
        background: linear-gradient(to right, #7fd5a9, #50c289);
        color: #ffffff;
    }
}

.clear-btn {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    cursor: pointer;
    display: none;
    transition: transform 0.2s ease;
}

.clear-btn:hover {
    transform: translateY(-50%) rotate(90deg);
    color: #50c289;
}

.personal {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.personal button {
    width: 30px;
    height: 30px;
    border: none;
    overflow: hidden;
    outline: none;
    background: transparent;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 2s ease-in;
}

.personal-icons {
    height: 30px;
    object-fit: cover;
}

.personal button:active {
    .personal-icons {
        transform: scale(0.95);
    }
}

#bg1 {
    height: 10vh;
}

.filters {
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6d4d4;
    background-color: #F7F7F5;
    z-index: 10;
}

.categories {
    border: none;
    outline: none;
    background: transparent;
    margin: 5px 15px 5px 20px;
    box-shadow: 0 0 8px rgba(116, 114, 114, 0.2);
    border-radius: 20px;
    padding: 10px 8px;
    cursor: pointer;
    color: rgb(73, 70, 70);
    font-size: .9rem;
}

.categories.active {
    background-color: #424cb0;
    color: #ffffff;
}

.date-range {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    right: 2%;
}

.date-field {
    height: 45px;
    display: flex;
    flex-direction: column;
}

.date-field label {
    margin-top: 2px;
    font-weight: bold;
    font-size: 14px;
}

.date-field input[type="date"] {
    padding: 3px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

#bg2 {
    height: 45px;
}

main {
    margin: 20px 40px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    max-height: 600px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 8px #a3a3a3;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-bottom: 10px;
    z-index: 1;
}

.card:hover {
    transform: scale(1.013);
}

.card-header {
    height: 200px;
    width: 350px;
    overflow: hidden;
}

.card-header img {
    width: 35 0px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-details {
    height: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.card-details span {
    color: #ffffff;
    background-color: rgb(255, 190, 69);
    border-radius: 20px;
    padding: 2px 10px;
    margin-left: 5px;
    font-size: 15px;
}

.card-details h6 {
    font-size: medium;
    font-weight: 300;
    margin-right: 30px;
}

.card-content {
    flex-grow: 1;
}

.card-content h3 {
    font-weight: 500;
    margin: 10px 15px;
}

#news-desc {
    font-weight: 350;
    margin: 0px 15px;
}

.card-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 40px;
}

#src-link {
    width: 300px;
    height: 30px;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: #d8efff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: large;
    transition: transform 1s ease-in;
    cursor: pointer;
}

#src-link:active {
    transform: scale(0.8);
}

.save {
    width: 50px;
    display: flex;
    cursor: pointer;
}

.save button {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
    overflow: hidden;
}

.save img {
    object-fit: cover;
    transition: transform 1s ease;
    cursor: pointer;
}

#share-btn:active {
    transform: scale(0.95);
}

.msg {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 200;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px #a3a3a3;
    width: 280px;
    height: 60px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.msg.show-msg {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.msg i {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}

.msg h3 {
    margin: 3px 5px;
}

.msg span {
    margin: 3px 4px;
}

.link-box {
    z-index: 200;
    position: relative;
    width: fit-content;
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.close-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    color: #333;
}

.link-text {
    font-size: 13px;
    word-wrap: break-word;
}

.link-text a {
    color: #007bff;
    text-decoration: none;
}

.link-text a:hover {
    text-decoration: underline;
}